rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Permitir acceso a la subcolección trikiStats
      match /trikiStats/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      // Permitir acceso a la subcolección snakeStats
      match /snakeStats/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}